parameters:
	ignoreErrors:
		-
			message: '#^Method Quillstack\\Config\\Config\:\:find\(\) has parameter \$branch with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Config.php

		-
			message: '#^Method Quillstack\\Config\\Config\:\:find\(\) has parameter \$tree with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Config.php

		-
			message: '#^Property Quillstack\\Config\\Config\:\:\$config type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Config.php

		-
			message: '#^Method Quillstack\\Config\\ConfigProviderInterface\:\:load\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ConfigProviderInterface.php

		-
			message: '#^Cannot call method get\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Configuration.php
